.contacts {
  margin-top: 100px;
  @media (max-width: 830px) {
    margin-top: 50px;
  }
  // .contacts__inner
  &__inner {
    display: flex;
    @media (max-width: 830px) {
      display: block;
    }
  }
  // .contacts__info

  &__info {
    flex: 0 1 50%;
    @media (max-width: 830px) {
      text-align: center;
    }
  }
  // .contacts__info-title

  &__info-title {
    margin: 50px 0;
    @media (max-width: 830px) {
      margin: 0 0 30px 0;
    }
    @media (max-width: 576px) {
      margin: 0 0 15px 0;
    }
  }

  // .contacts__list-item

  &__list-item {
    margin-bottom: 20px;
  }
  // .contacts__list-title

  &__list-title {
    color: #5a0d67;
  }

  // .contacts__form

  &__form {
    flex: 0 1 50%;
    background-color: #21062a;
    color: #fff;
    padding: 25px 25px 57px 25px;
    @media (max-width: 576px) {
      padding: 25px;
    }
  }

  // .contacts__form-title

  &__form-title {
    margin: 25px 0 16px 103px;
    text-align: left;
    @media (max-width: 1040px) {
      margin: 25px 0 16px 0;
    }
    @media (max-width: 830px) {
      text-align: center;
      margin: 0 0 16px 0;
    }
  }

  // .contacts__form-form

  &__form-form {
    display: flex;
    flex-direction: column;
  }

  // .contacts__input-name

  &__input-name,
  &__input-tel {
    max-width: 450px;
    width: 100%;
    padding: 24px;
    background-color: transparent;
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #fff;
    color: #c4c4c4;
    &:focus {
      outline: none !important;
      border-color: #c4c4c4;
    }
    &::placeholder {
      font-family: "Oswald", sans-serif;
      font-size: 18px;
      line-height: 27px;
      font-weight: 300;
      color: #c4c4c4;
      text-align: center;
    }
  }
  &__input-name {
    margin-bottom: 12px;
  }
  &__input-tel {
    margin-bottom: 78px;
    @media (max-width: 830px) {
      margin-bottom: 35px;
    }
  }
  // .contacts__form-btn

  &__form-btn {
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
    @media (max-width: 576px) {
      max-width: 250px;
      width: 100%;
    }
  }
}
