.why {
  margin-bottom: 100px;
  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
  // .why__inner

  &__inner {
    display: flex;
  }

  // .why__img

  &__img {
    padding-right: 20px;
    @media (max-width: 850px) {
      display: none;
    }
  }
  // .why__content

  &__content {
    margin-left: auto;
    @media (max-width: 850px) {
      width: 100%;
      margin-left: 0;
    }
  }
  // .why__title

  &__title {
    padding-left: 185px;
    margin-bottom: 50px;
    @media (max-width: 1150px) {
      padding-left: 25px;
    }
  }

  // .why__list

  &__list {
    width: 785px;
    background-color: #21062a;
    padding: 23px 20px 25px 185px;
    @media (max-width: 1150px) {
      padding: 23px 25px 25px 25px;
      width: 600px;
    }
    @media (max-width: 950px) {
      width: 500px;
    }
    @media (max-width: 850px) {
      width: 100%;
    }
    @media (max-width: 576px) {
      text-align: center;
    }
  }

  // .why__item

  &__item {
    max-width: 316px;
    margin-bottom: 20px;
    @media (max-width: 1150px) {
      max-width: 100%;
    }
  }

  // .why__item-numb

  &__item-numb {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #fff;
  }

  // .why__item-title

  &__item-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #fff;
  }

  // .why__item-text

  &__item-text {
    color: #c4c4c4;
  }
}
